#Box {
    width: 25px;
    margin: 0 auto;
    margin-top: 75px;
    height: 25px;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4,
  .Box5,
  .Box6,
  .Box7,
  .Box8,
  .Box9,
  .Box10 {
    float: left;
    width: 25px;
  }
  .box {
    height: 25px;
  
    border: 1px solid #bdbdbd;
    
    border-radius: 5px;
   
    box-shadow: 0 0 10px #bdbdbd;
  }
  .Box1 {
    background-color: violet;
  }
  .Box2 {
    background-color: indigo;
  }
  .Box3 {
    background-color: blue;
  }
  .Box4 {
    background-color: green;
  }
  .Box5 {
    background-color: yellow;
  }
  .Box6 {
    background-color: orange;
  }
  .Box7 {
    background-color: red;
  }
  .Box8 {
    background-color: white;
  }
  .Box9 {
    background-color: black;
  }
  .Box10 {
    background-color: brown;
  }  